body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
  background-image: linear-gradient(
    to right bottom,
    rgb(192, 132, 252),
    rgb(244, 114, 182),
    rgb(251, 146, 60)
  );
  height: 100vh;
}

h1 {
  color: white;
  text-align: center;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
}

h3 {
  margin: 0;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.code-section,
.result-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
  background: white;
  padding: 20px;
  height: fit-content;
}

.code-section {
  width: 40%;
}

.result-section {
  width: 60%;
}

textarea {
  min-height: 50vh;
  font-size: 16px;
  padding: 10px;
  background-image: linear-gradient(
    to right bottom,
    rgb(250, 245, 255),
    rgb(239, 246, 255)
  );
  border: 1px solid lavender;
  border-radius: 8px;
  margin-top: 20px;
}

.dots {
  display: flex;
  gap: 0.25rem;

  .dot {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 9999px;

    &.red {
      background-color: red;
    }
    &.orange {
      background-color: orange;
    }
    &.green {
      background-color: green;
    }
  }
}

iframe {
  min-height: 50vh;
  border: 1px solid #ccc;
  padding: 10px;
  background: white;
  border: 1px solid rgb(187, 247, 208);
  border-radius: 8px;
  margin-top: 20px;
}
